*{
  box-sizing: border-box;
  margin: 0;
  max-width: 1162;
  max-height: 900px;
}

/* .wholebody{
    display: flex;
    height:1000px;
} */
  body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #f2f2f2;
    font-family:Arial, Helvetica, sans-serif;
  }

form{
    line-height: 1rem;
    text-align:left;
    color: #022959;
}

.topheader h1{
    font-size:24px;
    color:#022959;
    letter-spacing: 0.17px;
}
.topheader h2{
    font-size: 16px;
    color: #9699AA;
    flex-wrap: nowrap;
    font-weight: lighter;
}

.btn{
    background-color: #022959;
    color:white;
    border-radius: 1em;
    font-size:16px;
    padding: 8px 16px 8px 16px;
    height: 36px;
    margin-top: 36px;
    font-size: 12px;
    float:right;
    }

p{
    font-size: 12px;
    font-weight: bold;
    
}
.container h2{ 
    font-weight: lighter;

}

.first-step, .second-step, .third-step, .fourth-step{
    color:white;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1.5px;
}
input{
    width: 450px;
    height: 12px;
    border-radius: 8px;
    border: 1px #D6D9E6;
    background-color: #fff;
    padding: 25px;
}

.rightform
{
    width: 50%;
    padding: 150px;
    
}

main{
    display:flex;
}
 
img{
    position: relative;
    max-width: 100%;
}
.first-step{
    position: absolute;
    top:16px;   
    color:white;
    padding:20px;
}
.second-step{
    position: absolute;
    top: 83px;
    color:white;
    padding:20px;
}
.third-step{
    position: absolute;
    top:150px;
    color:white;
    padding:20px;
}
.fourth-step{
    position: absolute;
    top:217px;
    color:white;
    padding:20px;
}
